/* ============================================
    EXERCICI 1 CSS - Selectors Bàsics
============================================ */

/* 1. Selector etiqueta - Estils generals*/
html {
  font-size: 16px;
}

body {
  background-color: #eeeeee;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

section {
  background-color: bisque;
}

/* 2. Selector múltiple */

/* 3. Selector d'etiqueta - Estils específics */

/* 4. Selector de classe */

/* 5. Selector ID */
