/* ============================================
    EXERCICI 1 CSS - Selectors Bàsics
============================================ */

/* 1. Selector etiqueta - Estils generals*/
html {
  font-size: 16px;
}

body {
  background-color: #eeeeee;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

section {
  background-color: bisque;
}

/* 2. Selector múltiple */
h3 {
  font-family: 'Courier New', Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1a5490;
  letter-spacing: 1px;
  background-color: #e1ada7;
}

header,
nav,
aside,
footer {
  background-color: rgba(238, 202, 183, 0.4);
}

/* 3. Selector d'etiqueta - Estils específics */
h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-style: italic;
}

p {
  word-spacing: 2px;
  text-align: justify;
}

a {
  background-color: #eeeeee;
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}
/* 4. Selector de classe */
.important {
  color: #c0392b;
  font-weight: bold;
  text-decoration: underline;
}

.destacada {
  font-size: 1.5rem;
  text-align: center;
}

/* 5. Selector ID */
#principal {
  color: #27ae60;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
}

#contacte {
  font-size: 0.9rem;
  font-style: italic;
  color: #7f8c8d;
}
