/* ============================================
    EXERCICI 1 CSS - Selectors Bàsics
============================================ */

/* 1. Selector etiqueta - Estils generals*/
html {
  font-size: 16px;
}

body {
  background-color: #eeeeee;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

section {
  background-color: bisque;
}

/* 2. Selector múltiple */
h3 {
  font-family: 'Courier New', Georgia, 'Times New Roman', Times, serif;
}
footer {
  background-color: rgba(238, 202, 183, 0.4);
}

/* 3. Selector d'etiqueta - Estils específics */
h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 2rem;
}
/* 4. Selector de classe */

/* 5. Selector ID */
